.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.sign-in-button {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
